.stages {
  clear: both;
  list-style: none;
  line-height: 1.4;
}
.stages > li {
  margin: 1rem 0;
  display: block;
  position: relative;
  font-size: 1.1rem;
  counter-increment: inst;
}
.stages > li::before {
  content: counter(inst);
  border-radius: 0.5rem;
  background: var(--secondary);
  color: #fff;
  font-size: 1.75rem;
  height: 4rem;
  width: 4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 0 0;
}
.stages > li h2 {
  display: inline-block;
  margin: 0;
}